h1 { color:#ffffff; font-size: 40px; }
    
/*space between h1 and nav*/
h1 { 
margin-top: 30px;
margin-bottom: 8px;
}
   
/* header flexbox */
header { display: flex; flex-direction: column; align-items: center; }

/*h2 box model*/
h2 {
margin-top: 10px;
margin-bottom: 8px;
}

/*h2 styling*/
.h2_styling {
color:#b40000 
}
        
.pt-serif-bold {
font-family: "PT Serif", serif;
font-weight: 700;
font-style: normal;
}

/*paragraph font styling*/
p {
font-family: "Hanken Grotesk", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
}

#about-me_para { color: white }

/*paragraph class styling*/
.intro { font-size: 20px; }
.bold-text { font-weight: bold; }
.box_p { padding: 10px; padding-left: 10px;} 
.center_e { text-align:center;}
      
/*paragraph border, margin, padding*/                                                    
p { color: rgb(255, 255, 255); background-color: rgb(150, 0, 0); padding: 20px; border: 3px solid darkblue; margin: 30px;}
      
/*section box model*/
section {
padding: 20px 0; 
}

a { color: blue; font-size: 16px; text-decoration: none; } 
   
body { background-color: #000000; font-family:georgia; color:white; }
    
/* element centers content*/
body { 
padding:20px;
max-width: 800px;
margin: 0 auto;
}
    
/*creates card element*/
.card {
padding: 20px;
border: 1px solid #cccccc;
border-radius: 8px;
margin: 20px 0;
}

/*centers Lists*/ 
.h2_card_style { text-align: center;
}

nav a:visited { color: blue; text-decoration: none; }

/*nav bar hover effect*/
nav a:hover { color:red; }
    
/*space between nav bar and top line*/
nav { padding: 10px 0; }
    
/*space between nav bar and left side*/
nav a { padding: 5px 15px; }

nav { text-align: center; }

/*space between page top*/
header {
padding: 20px;
/*creates line under h1*/
border-bottom: 2px solid #333333; 
}

.cern-link { background-color: rgb(0, 0, 0); padding: 20px; border: 3px solid darkblue; margin: 30px; }
.jn-site_link{ background-color:#000000; padding: 20px; border: 3px solid darkblue; margin: 30px; }

.hobbies {
color:#b40000 
}

/*flexbox for about.html images*/
.container {
flex-direction: row;
flex-wrap: wrap;
justify-content: flex-start;
justify-content: space-around;
flex-grow: 0;
flex-basis: auto;
} 

.two-col { display: flex; gap: 30px }
.two-col section { flex: 1; } 

/*2 col element for small screens*/
@media (max-width: 768px) { 
.two-col { 
flex-direction: column;
 }
}

@media (max-width: 768px) { 
#about-me_para { 
    flex-direction: column;
 }
}

/*page title styling*/
.page-title {
color:#c52006;
letter-spacing: 1px;
text-align: center;
}